.daily_card {
	padding: 10px 0;
	border-radius: 8px;
	min-width: 200px;
	width: fit-content;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(10px);
	box-shadow: 2px 2px 0px rgba(255, 255, 255, 0.3),
		1px 1px 0px rgba(255, 255, 255, 0.3);

	.title {
		margin: 0 0 10px 0;
		font-size: 22px;
	}

	.temp {
		margin: 0 0 10px 0;
		font-size: 20px;
	}

	.icon {
		margin: 0 auto;
	}

	.limits {
		display: flex;
		justify-content: space-evenly;
		font-size: 20px;
		font-weight: bold;

		:first-child {
			margin: 0 0 10px 0;
		}
	}
}
