.current_block {
	padding: 20px;
	border-radius: 8px;
	min-width: 235px;
	width: fit-content;
	margin: 0 auto;
	margin-bottom: 50px;
	background: rgba(255, 255, 255, 0.3);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);

	.date {
		margin: 0 0 10px 0;
		font-size: 24px;
	}

	.temp {
		margin: 0 0 10px 0;
		font-size: 20px;
	}

	.city {
		margin: 0 0 10px 0;
		font-size: 20px;
	}
}
