.current {
	padding: 20px;
	border-radius: 8px;
	min-width: 235px;
	width: fit-content;
	margin: 0 auto;
	margin-bottom: 40px;
	background: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(10px);
	box-shadow: 2px 2px 0px rgba(255, 255, 255, 0.3),
		1px 1px 0px rgba(255, 255, 255, 0.3);

	.temp {
		margin: 0 0 10px 0;
		font-size: 20px;
	}

	.city {
		margin: 0 0 10px 0;
		font-size: 20px;
	}
}
