.hourly_card {
	margin: 0 auto;
	padding: 10px;
	min-width: 200px;
	width: fit-content;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(10px);
	box-shadow: 2px 2px 0px rgba(255, 255, 255, 0.3),
		1px 1px 0px rgba(255, 255, 255, 0.3);

	.time {
		margin: 0 0 10px 0;
		font-size: 24px;
	}

	.temp {
		margin: 0;
		font-size: 20px;
	}

	.icon {
		margin: 0 auto;
	}

	.further {
		display: flex;
		flex-direction: column;
		font-size: 18px;

		p {
			display: flex;
			align-items: center;
			text-align: left;

			span {
				margin: 0 0 0 10px;
			}
		}

		.info_icon {
			width: 20px;
			height: 20px;
		}

		p:not(:last-child) {
			margin: 0 0 10px 0;
		}
	}
}
