.main-wrapper {
    margin: 25px;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    background-color: rgb(173, 222, 255);
    color: rgb(73, 73, 73);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}