.hourly_button {
	width: 40px;
	height: 40px;
	margin: 30px 0;
	border: 0;
	transition: 0.5s;
	background-color: inherit;
	color: white;
	cursor: pointer;

	.hourly_icon {
		width: 40px;
		height: 40px;
	}

	&:hover {
		transform: translateY(10px);
	}
}
