.header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	margin: 0 0 40px 0;
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(10px);
}
