.form {

    .btn-form {
        margin: 0 25px;
        width: fit-content;
        height: fit-content;
        background-color: orange;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        outline: none;
    }

    .input-form {
        max-width: 300px;
        width: 300px;
        padding: 5px;
        background: transparent;
        color: white;
        border: none;
        border-bottom: 2px solid white;
        outline: none;
        transition: 0.5s;
        font-size: x-large;
    }
    
    .input-form:focus {
        border-bottom: 2px solid orange;
    }
}
