@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

body {
	background: rgb(238, 174, 202);
	background: linear-gradient(
		90deg,
		rgba(238, 174, 202, 1) 43%,
		rgba(148, 187, 233, 1) 100%
	);
}

.app {
	height: fit-content;
	margin: 0 auto;
	max-width: 1600px;
	padding: 15px 15px 50px 15px;
	font-family: "Barlow", sans-serif;
}
