* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	background-color: #2b303b;
	font-family: "Roboto", sans-serif;

	.container {
		max-width: 1140px;
		height: 100vh;
		padding: 50px 15px;
		margin: 0 auto;
	}

	.title {
		h1 {
			margin: 40px 0 0 0;
			font-size: 30px;
			color: #ffffff;
			text-align: center;
		}
	}
}
