.toggle-button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	height: 50px;
	border: none;
	outline: none;
	cursor: pointer;
	user-select: none;
	font-family: "Roboto", sans-serif;
	border-radius: 8px;
	font-size: 20px;
	transition: 0.5s;

	&:hover {
		background-color: #d1d1d1;
	}

	.bold {
		font-weight: bold;
	}

	:first-child {
		padding: 0 0 0 15px;
	}

	:last-child {
		padding: 0 15px 0 0;
	}

	&__spacer {
		padding: 0 10px;
	}
}

@media screen and (max-width: 800px) {
	.toggle-button {
		height: 35px;
	}
}
